{{ define "main" }}



<article>
    <h2 class="f3 fw4 pa3 mv0">{{.Title}}</h2>
      {{ $page := . }}
      {{ if .Params.Pieces }}

        <div class="my-gallery cf pa2" itemscope itemtype="http://schema.org/ImageGallery">
        
	    	{{ range $piece := .Params.Pieces }}
	    		{{ $pieceFilename := strings.TrimPrefix "/images/" $piece.image }}
	    		{{ with $page.Site.GetPage "section" "images" }}
	    			{{ with .Resources.GetMatch $pieceFilename }}
              {{ $image500x500 := (.Fill "500x500") }}  
              {{ $imageFit1024 := (.Fit "1024x1024") }}           
              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="fl w-50 w-25-m w-20-l pa2 border-box">
                <a href="{{ $imageFit1024.RelPermalink }}" class="db link dim tc" itemprop="contentUrl" data-size="{{ $imageFit1024.Width }}x{{ $imageFit1024.Height }}">
                    <img src="{{ $image500x500.RelPermalink }}" class="w-100 db outline black-10" itemprop="thumbnail" alt="{{ $piece.description }}" />
                </a>
                <figcaption style="display: none" itemprop="caption description">{{ $piece.description }}</figcaption>
              </figure>
            
            
	    			{{ end }}
	    		{{ end }}	
        {{ end }}
            
        </div>
      
      {{ end }}
  </article>

  
  <!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

  <!-- Background of PhotoSwipe. 
       It's a separate element, as animating opacity is faster than rgba(). -->
  <div class="pswp__bg"></div>

  <!-- Slides wrapper with overflow:hidden. -->
  <div class="pswp__scroll-wrap">

      <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
      <!-- don't modify these 3 pswp__item elements, data is added later on. -->
      <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
      </div>

      <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
      <div class="pswp__ui pswp__ui--hidden">

          <div class="pswp__top-bar">

              <!--  Controls are self-explanatory. Order can be changed. -->

              <div class="pswp__counter"></div>

              <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

              <button class="pswp__button pswp__button--share" title="Share"></button>

              <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

              <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

              <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
              <!-- element will get class pswp__preloader--active when preloader is running -->
              <div class="pswp__preloader">
                  <div class="pswp__preloader__icn">
                    <div class="pswp__preloader__cut">
                      <div class="pswp__preloader__donut"></div>
                    </div>
                  </div>
              </div>
          </div>

          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
              <div class="pswp__share-tooltip"></div> 
          </div>

          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
          </button>

          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
          </button>

          <div class="pswp__caption">
              <div class="pswp__caption__center"></div>
          </div>

        </div>

      </div>

</div>

{{ end }}
